<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/dashboard.css">
<%- include('includes/header.ejs') %>
    <h1>Users</h1>
    <a href="/forum">Visit Forum</a>
    <ol>
        <% if(users.length > 0) { %>
            <% for (let user of users) { %>
        <li><a href="/chat/<%= user.id %>" target="_blank" ><%= user["username"] %></a></li>
            <% } %>
        <% } %>
    </ol>
    <div class="online-users">
        <h3>Online Users</h3>
        <div id="online-users-list">
            <div class="loading">Loading online users...</div>
        </div>
    </div>
    <a id="logout" href="/logout">Logout</a>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        // Notify server that user is online
        // socket.emit('userOnline', {
        //     // userId: userId,
        //     username: username
        // });

        // // Listen for online status updates
        // socket.on('userStatusUpdate', (data) =>{
        //     updateOnlineUsersList(data.onlineUsers);

        //     // Show notification when user comes online/offline
        //     if(data.userId !== userId){
        //         showNotification(`${data.username} is ${data.status}`);
        //     }
        // });
        // function updateOnlineUsersList(onlineUsers){
        //     const onlineList = document.getElementById('online-users-list');

        //     if(onlineUsers.length === 0){
        //         onlineList.innerHTML = `<div class="no-users">No users online</div>`;
        //         return;
        //     }

        //     onlineList.innerHTML = onlineUsers.map(user =>`
        //     <div class="online-user">
        //         <div class="status-indicator status-online"> </div>
        //         <strong> ${user.username} </strong>
        //     </div>`).join('');
        // }
    </script>
<%- include('includes/footer.ejs') %>