<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/forum.css">
<%- include('includes/header.ejs') %>
<main>
        <section>
            <h4>Forum</h4>
            <div id="chats" style="overflow-y: scroll;">
                <% if (forum.length > 0) { %> 
                    <% for (let message of forum) { %>
                        <% if (message.sender_id == sender_id){ %>
                            <p id="prev_my_chat"><%= message.message %></p>
                        <% } else { %>
                            <p id="prev_other_chat"><%= message.message %></p>
                            <% } %>
                        <% } %>
                 <% } %>
            </div>
                <form class="form-control">
                    <input type="text" name="message" id="message" value="">
                    <input type="hidden" name="sender_id" value="<%= sender_id %>">
                    <input type="hidden" name="isForum" value="<%= isForum %>">
                    <!-- <input type="hidden" name="receiver_id" value="2"> -->
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input id="submit" type="submit" value="Post">
                </form>
            </section>
        <a id="logout" href="/logout">Logout</a>
    </main>
    <script src="/socket.io/socket.io.js"></script> 
        <script> 
        // console.log("Hi")
        const socket = io(); // Connect to the server
        const forumSocket = io('/forum')
        // console.log(socket)
        // Send a message to the Server
        let message = null;
        let sender_id; 
        let isForum;
        const chatBox = document.getElementById('chats');
         // Scroll to the latest message
         chatBox.scrollTop = chatBox.scrollHeight;
        document.querySelector('form').addEventListener('submit', (e) =>{
            e.preventDefault()
         message = document.getElementById('message').value;
         sender_id = document.querySelector('[name="sender_id"').value;
         isForum = document.querySelector('[name="isForum"').value;
            // const receiver_id = document.querySelector('[name="receiver_id"').value;
            // console.log(message, sender_id, isForum)
            forumSocket.emit('forumMessage', {message, sender_id, isForum});
            document.getElementById('message').value = '';
        });

        // Receive messages from the server
        forumSocket.on('forumMessage', (data) =>{
            // console.log(data)
            // console.log(message)
            // console.log(data.message)
            // console.log(Number(data.sender_id))
            // console.log(Number(sender_id))
            let newMessage = "";
            if (Number(data.sender_id) == Number(sender_id)){
                newMessage = document.createElement('p')
                newMessage.setAttribute("id", "my_chat")
                // console.log(Number(sender_id))
                // console.log("Yes")
                newMessage.textContent = `${data.message}`;
                chatBox.appendChild(newMessage);
            } else{
                newMessage = document.createElement('p')
                newMessage.setAttribute("id", "other_chat")
                // console.log("No")
                // console.log(data)
                chatBox.appendChild(newMessage);
                newMessage.textContent = `${data.message}`;
            }
            // console.log(newMessage)

            // Scroll to the latest message
            chatBox.scrollTop = chatBox.scrollHeight;
        })
    </script>
<%- include('includes/footer.ejs') %>